@model IEnumerable<TewerkstellingsRecordIndexViewModel>

@{ViewBag.Title = "Tewerkstelling";}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lijst Tewerkstelling</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> Nieuwe tewerkstelling</a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sollicitant</th>
                                    <th>School</th>
                                    <th>Startdatum</th>
                                    <th>Einddatum</th>
                                    <th class="text-warning">Acties</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.Id">
                                                @item.VolledigeNaam
                                            </a>
                                        </td>
                                        <td>@item.SchoolId</td>
                                        <td>@item.StartDatum.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Einddatum.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a class="text-success" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fas fa-edit"></i>Bewerk
                                            </a>
                                            <a class="text-warning" asp-action="GeneratePdf" asp-route-id="@item.Id">
                                                <i class="fas fa-file-pdf"></i>Pdf
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
